<h1>subscribers</h1>
    
    
    
  
        <div>
         
          <table mat-table [dataSource]="dataSource">
        
            <!-- MSISDN Column -->
            <ng-container matColumnDef="MSISDN">
              <th mat-header-cell *matHeaderCellDef> MSISDN </th>
              <td mat-cell *matCellDef="let element"> {{element.MSISDN}} </td>
            </ng-container>
        
            <!-- subcriberPin Column -->
            <ng-container matColumnDef="subcriberPin">
              <th mat-header-cell *matHeaderCellDef> subcriberPin </th>
              <td mat-cell *matCellDef="let element"> {{element.subcriberPin}} </td>
            </ng-container>

             <!-- subcriberPin Column -->
             <ng-container matColumnDef="accountStatus">
                <th mat-header-cell *matHeaderCellDef> accountStatus </th>
                <td mat-cell *matCellDef="let element"> {{element.accountStatus}} </td>
            </ng-container>
      
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
    
